%h1 API documentation
%p
  Each query must contain api key. Your api key is
  %strong= @user.api_key

%h2 Posts
%p
  Get posts list
  %code `/api/posts?api_key=your_key`

%p
  Get specific post
  %code `/api/posts/:id?api_key=your_key`

%p
  Filter by tags
  %code `/api/posts?api_key=your_key&tags=rails,ruby`

%h2 Tags
%p
  Your tags(stored on settings page):
  %code `/api/tags?api_key=your_key'