= render 'dashboard/shared/nav_list'

.row
  %h1.col-sm-10 Listing posts
  .col-sm-2
    = link_to "Import to CSV", dashboard_posts_path(format: "csv"), class: 'btn btn-info'

= render 'list', collection: @posts