%ul.nav-list
  %li= link_to 'Published', dashboard_posts_path, class: "btn btn-success"
  %li= link_to 'Unpublished', unpublished_dashboard_posts_path, class: "btn btn-warning"
  %li= link_to 'Archived', archived_dashboard_posts_path, class: "btn btn-danger"